body {
    background-color: #6258CD;
}

/* FORM */

#configuration {
    background-color: #3147AD;
    padding: 3.5rem;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
}

.size-input {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pixel-input {
    padding: 1rem;
    font-size: 1rem;
    border: none;
}   

button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #9B68E4;
    color: white;
}

#error-message {
    text-align: center;
    color: white;
    margin-top: 1rem;
}

/* GRID */

#pixel-grid {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 8rem auto;
}

.row {
    display: flex;
    align-self: center;
}

.cell {
    background-color: #D1DAE2;
    border: 2px solid #808E9B;
}

/* COLOR PALETTE */

#color-palette {
    width: 20%;
    padding: 1rem 0;
    background-color: #4B46A3;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.color-item {
    width: 15%;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.plain {
    background-color: #D2DAE2;
    border: 2px solid #7B869C;
}

.empty {
    background-color: #485460;
    border: 2px solid #202833;
}

.light {
    background-color: #FBC049;
    border: 2px solid #DB952F;
}

.highlight {
    background-color: #79EA84;
    border: 2px solid #59B474;
}